<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <log4net debug="true">
        <!--1、一个appender可以被多个logger共用-->
        <!--2、logger可以同时引用多个appender-->
        <appender name="CommonFileAppender" type="log4net.Appender.RollingFileAppender" >
            <param name="File" value="LogFiles\" />
            <param name="AppendToFile" value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <param name="StaticLogFileName" value="false" />
            <param name="RollingStyle" value="Composite" />
            <param name="MaximumFileSize" value="2MB" />
            <param name="DatePattern" value="yyyy-MM-dd&quot;-errors.txt&quot;" />
            <layout type="log4net.Layout.PatternLayout">
                <!--<param name="Header" value="[Header]\r"/>-->
                <!--<param name="Footer" value="[Footer]\r"/>-->
                <param name="ConversionPattern" value="%d [%t] %-5p [%x]  - %m%n" />
            </layout>
        </appender>

        <!--1、所有Logger的父节点，root的设置在所有的logger中都起作用-->
        <!--2、如果root和logger中设置了相同的appender，日志会被记录两次-->
        <root>
            <level value="ALL" />
            <!--<appender-ref ref="CommonFileAppender" />-->
        </root>

        <!--日志记录器logger可以有多个-->
        <logger name="CodeGenerator.Connector">
            <level value="ALL"></level>
            <appender-ref ref="CommonFileAppender" />
        </logger>
    </log4net>
</configuration>